<!DOCTYPE html>
<html>
<head>
    <h1>DevSecOps Notes Dashboard</h1>

<p class="subtitle">
    Manage deployment notes and DevOps tasks efficiently.
</p>

<div class="stats">
    <h3>Total Notes</h3>
    <span>{{ total_notes }}</span>
</div>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>DevSecOps Notes App</h1>
        <p class="subtitle">A simple Flask + MongoDB app for DevSecOps pipeline deployment</p>

        <form action="/add" method="POST" class="note-form">
            <input type="text" name="note" placeholder="Write a note..." required>
            <button type="submit">Add Note</button>
        </form>

        <div class="notes-card">
            <h2>Your Notes</h2>
            <ul>
               {% for note in notes %}
            <li>
                <span>{{ note.note }}</span>

                <form action="/delete/{{ note._id }}" method="POST" class="delete-form">
                    <button type="submit" class="delete-btn">Delete</button>
                </form>
            </li>

                {% else %}
                <p class="empty">No notes yet. Add your first note!</p>
                 {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>